/* Raleway */

@font-face {
    font-family: "Raliway";
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Raliway";
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
    font-weight: 400;
}


@font-face {
    font-family: "Raliway";
    src: url(../fonts/Raleway/Raleway-ExtraBold.ttf);
    font-weight: 900;
}

@font-face {
    font-family: "Raliway";
    src: url(../fonts/Raleway/Raleway-Light.ttf);
    font-weight: 100;
}


/* Roboto */

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: 400;
}


